* {
	margin: 0;
	padding: 0;
	display: block;
}

body {
	max-width: 800px;
	margin: 3em auto;
}

head * {
	display: none;
}

* + * {
	margin-top: 1.5em;
}

li, option, dt, dd {
	margin-top: 0;
}

label + * {
	margin-top: 0.5em;
}

[type="checkbox"], [type="radio"] {
	display: inline-block;
	margin-top: 0;
}

p {
	line-height: 1.5;
}

p * {
	display: inline;
}

p + p {
	margin-top: 0.75em;
}

