<!-- content templates -->
<template name="loading">
	<div style="min-height: 1000px">
		<!-- keep blank -->
	</div>
</template>

<template name="storiesList">
	<ul class="grid-2-columns">
		{{#unless loggedIn}}
		<li class="teaser">
			<div class="your-story">
				<h2>What's <em>your</em> story?</h2>
				<div class="add-your-story">
					<p><a href="/add">Add your story!</a></p>
				</div>
			</div>
		</li>
		{{/unless}}
		{{#each stories}}
			<li class="teaser {{#if published}}published{{/if}}">
				<h2><a href="{{pathFor 'story'}}">{{name}}'s story</a>
					{{#if loggedIn}}
						<em class="status {{publishedClass}}">
							{{#if published}}
								published
							{{else}}
								not published
							{{/if}}
						</em>
					{{/if}}
				</h2>
				<div class="story-body">
					<div class="truncated">
						{{ this.story }}
					</div>
					{{#if loggedIn}}
						<p>
							<a href="{{ pathFor 'manageItem' }}">Edit this story</a>
						</p>
					{{/if}}
				</div>
				{{> listStoryKeywords}}
			</li>
		{{/each}}
	</ul>
	{{> storyPagination}}
</template>

<template name="allStories">
	<a download="stories.json" href="data:text/plain,{{formatForDownload}}">Download</a>
</template>

<template name="storyPagination">
	<!-- role = pagination is a thing? -->
	{{#if paged}}
		<nav role="navigation" class="pagination">
			<h2>Similar stories</h2>
			<ul>
				{{#if showPrev}}
					<li>
						<a rel="prev" href="?page={{prev}}"><span aria-hidden>&#x2190;</span> Previous (page {{humanizePage prev}})</a>
					</li>
				{{/if}}
				{{humanizePage}}
				{{#if showNext}}
					<li>
						<a rel="next" href="?page={{next}}">Next (page {{humanizePage next}}) <span aria-hidden>&#x2192;</span></a>
					</li>
				{{/if}}
			</ul>
		</nav>
	{{/if}}
</template>

<template name="listStoryKeywords">
	<ul class="keywords">
		{{#each keywords}}
			<li><a href="{{ pathFor 'keyword' keyword=this}}">{{this}}</a></li>
		{{/each}}
	</ul>
</template>

<template name="story">
	<h1>{{name}}'s Story</h1>
	{{> alertBubbles}}
	<div class="story-body">
		{{#markdown}}{{story}}{{/markdown}}
	</div>
	{{> inspiringRadios }}
	<div class="story-meta">
		<h2>More inspiration</h2>
		<p>Featured in the {{> strongThemeList}} themes of your pathway.</p>
		{{#if keywords.length}}
			<p>Try looking at more stories like {{name}}'s, with the same keywords:</p>
			{{> listStoryKeywords}}
		{{/if}}
	</div>
</template>

<template name="inspiringRadios">
	<form action="" id="inspiring">
		<h3>Did this story inspire you?</h3>
		<div role="status">
			{{> message}}
		</div>
		<label>
			<input type="radio" value="true" class="vh" name="inspiring" {{checked}}>
			<span>Yes! Save it in <strong>"Inspiring Me"</strong> to read again later</span>
		</label>
		<label>
			<input type="radio" value="false" class="vh" name="inspiring" {{notChecked}}>
			<span>No, I'll keep looking for more stories</span>
		</label>
	</form>
</template>

<template name="add">
	<h1>Add your story</h1>
	{{> alertBubbles}}
	<form id="add" tabindex="-1">
		<label for="story">Your inspiring story</label>
		<textarea id="story" cols="8" rows="5"></textarea>
		<div class="grid-2-columns middle">
			<div>
				<label for="name">Name</label>
				<p>Use the &#x201c;generate a name&#x201d; button to put a name to your story or type a fake name. You must protect your identity! <span aria-hidden>&#x2192;</span></p>
			</div>
			<div>
				<button class="random" aria-controls="name">Generate a name</button>
			</div>
		</div>
		<input id="name" type="text" aria-live="polite" role="status" placeholder="Type or hit 'generate a name'" />
		<input type="text" style="display: none" aria-hidden="true" id="check" value="" />
		<div role="alert">
			{{> errors}}
		</div>
		<button type="submit">Share your story!</button>
	</form>
</template>

<template name="thanks">
	<h1>Thanks!</h1>
	<p>Thank you for posting a story to inspire people. We'll just check it then publish it in the app. Do you have <a href="/add">another story</a> to tell?</p>
</template>

<template name="manage">
	<div class="manager-list">
		{{> storiesList}}
	</div>
</template>

<template name="manageItem">
	<h1>Manage {{story.name}}'s story</h1>
	{{> alertBubbles}}
	<form>
		<label for="name">Name</label>
		<input id="name" name="name" type="text" value="{{story.name}}" />
		<label for="story">Story</label>
		<textarea id="story" name="story" rows="10">{{story.story}}</textarea>
		<h2>Set themes and keywords</h2>
		{{#each themes}}
			<fieldset name="themes" class="theme-{{enableThemeForm selectedThemes .}}">
				<legend>{{themeName}}</legend>
				<label for="enable-{{_id}}">
					<input id="enable-{{_id}}" type="checkbox" value="{{_id}}" class="vh enable-theme" {{themeEnabled}}/>
					<span>enable {{themeName}}</span>
				</label>
				<div class="keywords">
					{{#each keywords}}
						<label for="{{parentId ..}}_{{ classify this 'keyword' }}">
							<input
								{{enableThemeForm selectedThemes ..}}
								type="checkbox"
								id="{{parentId ..}}_{{ classify this 'keyword' }}"
								value="{{this}}"
								class="vh"
								{{hasThemeKeyword ..}}
							/>
							<span> {{this}} </span>
						</label>
					{{/each}}
				</div>
			</fieldset>
		{{/each}}
		<h2>Published?</h2>
		<p>Is the story ready to be shown in the app?</p>
		<label>
			<input name="published" type="checkbox" id="published" value="true" class="vh" {{checked}}>
			<span>Published</span>
		</label>
		<input type="text" style="display: none" aria-hidden="true" id="check" value="" />
		<div role="alert">
			{{> errors}}
		</div>
		<button type="submit">Save</button>
	</form>
</template>

<template name="edited">
	<h1>Story saved</h1>
	<p>The story has been saved. Return to <a href="{{ pathFor 'manage' }}">the manager screen</a>.</p>
</template>

<template name="me">
	<h1>Inspiring Me</h1>
	{{> alertBubbles}}
	{{> message}}
	{{#if noInspiration}}
		<p>Looks like you haven't found any inspiring stories yet. Let's help you <a href="/">find an inspiring story</a>.</p>
	{{/if}}
	<ul class="inspiring-me-themes">
		{{#each themes}}
			<li class="expando-parent collapsed {{#if size stories}}has-stories{{else}}no-stories{{/if}}">
				<div>
					<h2>
						<button class="expando-controls" aria-expanded="false" {{disabled stories}} aria-controls="expando-{{_id}}">
							{{themeName}}
						</button>
						{{#if size stories}}
							<span class="count">({{size stories}} saved)</span>
						{{else}}
							<span class="count">(None. <a href="{{pathFor 'theme'}}">Find some!</a>)</span>
						{{/if}}
					</h2>
				</div>
				<div class="expando" id="expando-{{_id}}" tabindex="-1">
					<h3>About {{themeName}}:</h3>
					<p>{{description}}</p>
					<h3>Stories that inspired me:</h3>
					<ul class="inspiring-me-stories">
						{{#each stories}}
							<li>
								<div>
									<p><a href="{{ pathFor 'story' }}">{{this.name}}'s Story</a></p>
								</div>
								<div>
									<a aria-label="delete" href="{{pathFor 'deleteLocal'}}">&#x2716;</a>
								</div>
							</li>
						{{/each}}
					</ul>
					<h3>Most interesting keywords:</h3>
					{{> listStoryKeywords keywords=storiesKeywords}}
					{{#if size resources storiesKeywords}}
						<h3>Next steps:</h3>
						<ul class="next-steps">
							{{#each resources storiesKeywords}}
								<li>
									<h4>{{title}}</h4>
									{{#markdown}}{{content}}{{/markdown}}
								</li>
							{{/each}}
						</ul>
					{{/if}}
				</div>
			</li>
		{{/each}}
	</ul>
</template>
<!-- maybe if they don't have enough resources/keywords
					{{else}}
						{{#if size resources}}
							<h3>Next steps:</h3>
							<ul>
								{{#each resources}}
									<li>
										<h4>{{title}}</h4>
										{{#markdown}}{{content}}{{/markdown}}
									</li>
								{{/each}}
							</ul>
						{{/if}} -->

<template name="strongThemeList">
	{{#each storyThemes this}}
		<strong>
			<!-- <a href="{{ pathFor 'theme' }}">{{themeName}}</a> -->
			{{themeName}}
		</strong>
		<span class="inline-list-separator">/ </span>
	{{/each}}
</template>

<template name="deleteLocal">
	<h1>Delete story</h1>
	<p>Are you sure you want to delete {{this.name}}'s story from your <strong>Inspiring Me</strong> collection?</p>
	<p><button class="delete">Confirm</button> <button class="cancel">Cancel</button></p>
</template>

<template name="keyword">
	<h1>{{keyword}} {{#if page}}<span class="page">(Page: {{humanizePage}})</span>{{/if}}</h1>
	{{> storiesList}}
</template>

<template name="theme">
	<h1>
		{{#each names}}
			<span class="theme-name">
				{{themeName}}
				<span class="inline-list-separator"> / </span>
			</span>
		{{/each}}
		{{#if page}}<span class="page">(Page: {{humanizePage}})</span>{{/if}}
	</h1>
	{{> alertBubbles}}
	{{#if empty}}
		<p class="message">There are no stories for this theme so far :-(</p>
	{{else}}
		{{> storiesList}}
	{{/if}}
</template>

<template name="themes">
	<h1>Find an inspiring story&hellip;</h1>
	{{> alertBubbles}}
	<ul class="theme-list">
		{{#each themes}}
			<li>
				<h2>Stories about <a href="{{ pathFor 'theme' }}">{{this.themeName}} <span aria-hidden>&#x2192;</span></a></h2>
				<p>{{this.description}}</p>
			</li>
		{{/each}}
	</ul>
</template>

<template name="loginForm">
	<form action="action" id="login">
		<label for="email">Email</label>
		<input type="email" id="email" />
		<label for="password">Password</label>
		<input type="password" id="password" />
		<button type="submit">Log in</button>
		<p><a href="{{pathFor 'register'}}">Need an account?</a></p>
   </form>
</template>

<template name="login">
	<h1>Log in</h1>
	{{> loginForm}}
</template>

<template name="registerForm">
	<form action="action" id="register">
		<label for="email">Email</label>
		<input type="email" id="email" />
		<label for="password">Password</label>
		<input type="password" id="password" />
		<button type="submit">Register</button>
   </form>
</template>

<template name="register">
	<h1>Make an account</h1>
	{{> registerForm}}
</template>