<!-- content templates -->
<template name="loading">
	<div style="min-height: 1000px">
		<!-- keep blank -->
	</div>
</template>

<template name="storiesList">
	<ul class="grid-2-columns">
		{{#unless loggedIn}}
		<li class="teaser">
			<div class="your-story">
				<h2>What's <em>your</em> story?</h2>
				<div class="add-your-story">
					<div>
						<a href="/add" class="button-shaped">Add your story!</a>
					</div>
				</div>
			</div>
		</li>
		{{/unless}}
		{{#each stories}}
			<li class="teaser {{#if published}}published{{/if}}">
				<h2><a href="{{pathFor 'story'}}">{{name}}'s story</a>
					{{#if loggedIn}}
						<em class="status {{publishedClass}}">
							{{#if published}}
								published
							{{else}}
								not published
							{{/if}}
						</em>
					{{/if}}
				</h2>
				<div class="story-body">
					<div class="truncated">
						{{ this.story }}
					</div>
					{{#if loggedIn}}
						<p>
							<a href="{{ pathFor 'manageItem' }}">Edit this story</a> <span aria-hidden="true">|</span> <a href="{{ pathFor 'deleteStory' }}">Delete this story</a>
						</p>
					{{/if}}
					{{> listStoryKeywords}}
				</div>
			</li>
		{{/each}}
	</ul>
	{{> storyPagination}}
</template>

<template name="allStories">
	<a download="stories.json" href="data:text/plain,{{formatForDownload}}">Download</a>
</template>

<template name="storyPagination">
	<!-- role = pagination is a thing? -->
	{{#if paged}}
		<nav role="navigation" class="pagination">
			<h2>Similar stories</h2>
			<ul>
				{{#if showPrev}}
					<li>
						<a rel="prev" href="{{pageUrl prev}}"><span aria-hidden>&#x2190;</span> Previous (page {{humanizePage prev}})</a>
					</li>
				{{/if}}
				{{humanizePage}}
				{{#if showNext}}
					<li>
						<a rel="next" href="{{pageUrl next}}">Next (page {{humanizePage next}}) <span aria-hidden>&#x2192;</span></a>
					</li>
				{{/if}}
			</ul>
		</nav>
	{{/if}}
</template>

<template name="listStoryKeywords">
	<ul class="keywords">
		{{#each keywords}}
			<li><a href="{{ pathFor 'keyword' keyword=this}}">{{this}}</a></li>
		{{/each}}
	</ul>
</template>

<template name="story">
	<h1>{{name}}'s Story</h1>
	{{> alertBubbles}}
	{{#if recording}}
		<iframe width="100%" height="170" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={{recording}}&amp;auto_play=false&amp;hide_related=true&amp;show_reposts=false&amp;visual=false&amp;color=377F41&amp;theme_color=377F41&amp;sharing=false&amp;show_artwork=false&amp;show_user=false"></iframe>
	{{/if}}
	<div class="story-body">
		{{#markdown}}{{story}}{{/markdown}}
	</div>
	{{> inspiringRadios }}
	{{#if help}}
		<div class="next-steps">
			<h2>Next Steps</h2>
			<p>If you have similar issues, you can do something about it. Click on these links to find help:</p>
			{{#markdown}}{{#autolink}}{{{help}}}{{/autolink}}{{/markdown}}
		</div>
	{{/if}}
	<div class="more-inspiration">
		<h2>More like this<span aria-hidden="true">...</span></h2>
		<h3>Pathway plan themes:</h3>
		{{> ThemeList}}
		<h3 class="keywords">Keywords:</h3>
		{{> listStoryKeywords}}
	</div>
</template>

<template name="inspiringRadios">
	<form action="" id="inspiring">
		<h2>Did this story inspire you?</h2>
		<div role="status">
			{{> message}}
		</div>
		<label>
			<input type="checkbox" value="true" class="vh" name="inspiring" {{checked}}>
			<span>Yes! Keep it in <strong>My Favourites</strong> to read again later</span>
		</label>
		<button class="pick-another"><img src="/dice.png" alt="" aria-hidden="true" /> Read Another Story</button>
	</form>
</template>

<template name="add">
	<h1>Add your story</h1>
	{{> alertBubbles}}
	<form id="add" tabindex="-1">
		<label for="story">Write your story here</label>
		<textarea id="story" cols="8" rows="5"></textarea>
		<label for="name">Name</label>
		<p><small>Enter just your first name or, if you prefer, a made up name here. If you leave blank, the name for your story will be &#x201c;Anonymous&#x201d;.</small></p>
		<input id="name" type="text" aria-live="polite" role="status" placeholder="Anonymous" />
		<input type="text" style="display: none" aria-hidden="true" id="check" value="" />
		<div role="alert">
			{{> errors}}
		</div>
		<button type="submit">Share your story!</button>
	</form>
</template>

<template name="thanks">
	<h1>Thanks!</h1>
	<p>Thank you for posting a story to inspire people. We&#x2019;ll just check it before we publish it in the app. Do you have <a href="/add">another story</a> to tell?</p>
</template>

<template name="manage">
	<div role="alert">
		{{> message}}
	</div>
	<div class="manager-list">
		{{> storiesList}}
	</div>
</template>

<template name="manageItem">
	<h1>Manage {{name}}'s story</h1>
	{{> alertBubbles}}
	<form>
		<label for="name">Name</label>
		<input id="name" name="name" type="text" value="{{name}}" />
		<label for="story">Story</label>
		<textarea id="story" name="story" rows="10">{{story}}</textarea>
		<h2>Set themes and keywords</h2>
		{{#each themes}}
			<fieldset name="themes" class="theme-{{enableThemeForm selectedThemes .}}">
				<legend>{{themeName}}</legend>
				<label for="enable-{{_id}}">
					<input id="enable-{{_id}}" type="checkbox" value="{{_id}}" class="vh enable-theme" {{themeEnabled}}/>
					<span>enable {{themeName}}</span>
				</label>
				<div class="keywords">
					{{#each keywords}}
						<label for="{{parentId ..}}_{{ classify this 'keyword' }}">
							<input
								{{enableThemeForm selectedThemes ..}}
								type="checkbox"
								id="{{parentId ..}}_{{ classify this 'keyword' }}"
								value="{{this}}"
								class="vh"
								{{hasThemeKeyword ..}}
							/>
							<span> {{this}} </span>
						</label>
					{{/each}}
				</div>
			</fieldset>
		{{/each}}
		<h2>Audio Recording</h2>
		<label for="soundcloud">Soundcloud link for the recording (optional)</label>
		<input placeholder="A web address starting https://" type="text" name="soundcloud" id="soundcloud" value="{{recording}}">
		<h2>Published?</h2>
		<p>Is the story ready to be shown in the app?</p>
		<label>
			<input name="published" type="checkbox" id="published" value="true" class="vh" {{checked}}>
			<span>Published</span>
		</label>
		<h2>Help &amp; Resources</h2>
		<p>Are there any places to find help regarding issues in this story? Are there any people to contact?</p>
		<p>Web addresses (eg. www.niace.org.uk) are automatically converted into links. To make a list, use asterisks as in the following example:</p>
		<p>
			<span style="display:block">* List item one</span>
			<span style="display:block; margin-top: 0;">* Item 2: www.niace.org.uk</span>
			<span style="display:block; margin-top: 0;">* Another item</span>
		</p>
		<label for="help">Help and resources (optional)</label>
		<textarea id="help" name="help" rows="10">{{help}}</textarea>
		<input type="text" style="display: none" aria-hidden="true" id="check" value="" />
		<div role="alert">
			{{> errors}}
		</div>
		<div role="status">
			{{> message}}
		</div>
		<button type="submit">Save</button>
	</form>
</template>

<template name="edited">
	<h1>Story saved</h1>
	<p>The story has been saved. Return to <a href="{{ pathFor 'manage' }}">the manager screen</a>.</p>
</template>

<template name="me">
	<h1>My Favourite Stories</h1>
	{{> alertBubbles}}
	{{> message}}
	{{#if noInspiration}}
		<p>Looks like you haven&#x2019;t found any inspiring stories yet. Let's help you <a href="/">find an inspiring story</a>.</p>
	{{/if}}
	<ul class="inspiring-me-themes theme-list">
		{{#each themes}}
			<li class="expando-parent collapsed {{#if size stories}}has-stories{{else}}no-stories{{/if}}">
				<h2>{{themeName}} 
					{{#if size stories}}
						<span class="count">({{size stories}} saved)</span>
					{{/if}}
				</h2>
				<h3>Saved stories:</h3>
				{{#if size stories}}
					<ul class="inspiring-me-stories">
						{{#each stories}}
							<li>
								<div>
									<p><a href="{{ pathFor 'story' }}">{{this.name}}'s Story</a></p>
								</div>
								<a aria-label="delete from collection" href="{{pathFor 'deleteLocal'}}">&#x2716;</a>
							</li>
						{{/each}}
					</ul>
				{{else}}
					<p>Looks like you haven&#x2019;t been inspired by anything in <strong>{{themeName}}</strong> yet. <a href="{{pathFor 'theme'}}">Find some inspiring stories!</a></p>
				{{/if}}
				{{#if storiesKeywords}}
					<h3>Inspiring keywords:</h3>
					{{> listStoryKeywords keywords=storiesKeywords}}
				{{/if}}
			</li>
		{{/each}}
	</ul>
</template>
<!-- maybe if they don't have enough resources/keywords
					{{else}}
						{{#if size resources}}
							<h3>Next steps:</h3>
							<ul>
								{{#each resources}}
									<li>
										<h4>{{title}}</h4>
										{{#markdown}}{{content}}{{/markdown}}
									</li>
								{{/each}}
							</ul>
						{{/if}} -->
<template name="ThemeList">
	<ul class="pathwayThemes">
		{{#each storyThemes this}}
		<li>
			<a href="{{ pathFor 'theme' }}">{{themeName}}</a>
		</li>
		{{/each}}
	</ul>
</template>

<template name="deleteLocal">
	<h1>Delete story</h1>
	<p>Are you sure you want to delete {{this.name}}'s story from your <strong>Inspiring Me</strong> collection?</p>
	<p class="center"><button class="delete">Confirm</button> <button class="cancel">Cancel</button></p>
</template>

<template name="deleteStory">
	<h1>Delete story</h1>
	<p>Are you sure you want to delete {{this.name}}'s story permanently?</p>
	<p class="center"><button class="delete">Confirm</button> <button class="cancel">Cancel</button></p>
</template>

<template name="keyword">
	<h1>{{keyword}} {{#if page}}<span class="page">(Page: {{humanizePage}})</span>{{/if}}</h1>
	{{> storiesList}}
</template>

<template name="theme">
	<h1>
		{{#each names}}
			<span class="theme-name">
				{{themeName}}
				<span class="inline-list-separator"> / </span>
			</span>
		{{/each}}
		{{#if page}}<span class="page">(Page: {{humanizePage}})</span>{{/if}}
	</h1>
	{{> alertBubbles}}
	{{#if empty}}
		<p class="message">There are no stories for this theme so far :-(</p>
	{{else}}
		{{> storiesList}}
	{{/if}}
</template>

<template name="themes">
	<h1>Be inspired by care leavers' stories</h1>
	{{> alertBubbles}}
	<ul class="theme-list">
		{{#each themes}}
			<li>
				<h2>Stories about <a href="{{ pathFor 'theme' }}">{{this.themeName}} <span aria-hidden>&#x2192;</span></a></h2>
				<p>{{this.description}}</p>
			</li>
		{{/each}}
	</ul>
</template>

<template name="loginForm">
	<form action="action" id="login">
		<label for="email">Email</label>
		<input type="email" id="email" />
		<label for="password">Password</label>
		<input type="password" id="password" />
		<button type="submit">Log in</button>
   </form>
</template>

<template name="login">
	<h1>Log in</h1>
	{{> loginForm}}
</template>

<template name="registerForm">
	<form action="action" id="register">
		<label for="email">Email</label>
		<input type="email" id="email" />
		<label for="password">Password</label>
		<input type="password" id="password" />
		<button type="submit">Register</button>
   </form>
</template>

<template name="register">
	<h1>Make an account</h1>
	{{> registerForm}}
</template>

<template name="about">
	<h1>About "Inspire Me"</h1>
	<p>This app has been developed by care leavers working with <a href="http://www.niace.org.uk"><abbr title="National Institute of Adult Continuing Education">NIACE</abbr></a> and digital developers, <a href="http://www.neontribe.co.uk">Neontribe Ltd</a>. The stories have been written by young people who have left care, are living independently and have taken first steps into learning and work. We hope their stories will inspire you and help you to find learning and work when you leave care.</p>
</template>

<template name="video">
	<h1>Watch the Inspire Me video</h1>
	<p>Heidi, Roxanne and Davut, along with other care leavers worked with NIACE and Neontribe to design and develop ‘Inspire Me’.  Watch the film to find out who and what the app is for.</p>
	<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
	<div class='embed-container'>
		<iframe src='http://www.youtube.com/embed/undefined' frameborder='0' allowfullscreen></iframe>
	</div>
</template>