<!-- content templates -->
<template name="loading">
	<div style="min-height: 1000px">
		<!-- keep blank -->
	</div>
</template>

<template name="storiesList">
	<ul class="stories-list" aria-label="all stories">
		{{#each stories}}
			<li class="{{#if published}}published{{/if}}">
				<h3>{{name}}</h3>
				<p>
					<a href="{{pathFor 'story'}}">Permalink</a>
					{{> listStoryKeywords}}
				</p>
				{{#if loggedIn}}
					<p>
						<a href="{{ pathFor 'manageItem' }}">edit</a>
					</p>
				{{/if}}
			</li>
		{{/each}}
	</ul>
	{{> storyPagination}}
</template>

<template name="allStories">
	<a download="stories.json" href="data:text/plain,{{formatForDownload}}">Download</a>	
</template>

<template name="storyPagination">
	<!-- role = pagination is a thing? -->
	<div role="pagination">
		{{#if showPrev}}
			<a href="?page={{prev}}">Previous (page {{humanize prev}})</a>
		{{/if}}
		{{humanize page}}
		{{#if showNext}}
			<a href="?page={{next}}">Next (page {{humanize next}})</a>
		{{/if}}
	</div>
</template>

<template name="listStoryKeywords">
	<ul class="keywords">
		{{#each keywords}}
			<li><a href="{{ pathFor 'keyword' keyword=this}}">{{this}}</a></li>
		{{/each}}
	</ul>
</template>

<template name="story">
	<h1>{{name}}'s Story</h1>
	<div class="story-body">
		{{#markdown}}{{story}}{{/markdown}}
	</div>
	{{> inspiringRadios }}
	<div class="story-meta">
		{{storyTheme.themeName}}
		{{> listStoryKeywords}}
	</div>
</template>

<template name="inspiringRadios">
	<form action="" id="inspiring">
		<h2>Did this story inspire you?</h2>
		{{ > message }}
		<label><input type="radio" value="true" class="vh" name="inspiring"> <span>Yes! Save it in <strong>"Inspiring Me"</strong> to read again later</span></label>
		<label><input type="radio" value="false" class="vh" name="inspiring" checked> <span>No, I'll keep looking for more stories</span></label>
	</form>
</template>

<template name="add">
	<h1>Add your story</h1>
	<form id="add" tabindex="-1">
		<label for="story">Your inspiring story</label>
		<textarea id="story" cols="8" rows="5"></textarea>
		<div class="grid-2-columns middle">
			<div>
				<label for="name">Name</label>
				<p>Use the "generate a name" button to put a name to your story. It should be a true story, but your identity should be secret <span aria-hidden>&#x2192;</span></p>
			</div>
			<div>
				<button class="random" aria-controls="name">Generate a name</button>
			</div>
		</div>
		<input id="name" type="text" readonly aria-live="polite" role="status" placeholder="Hit the generate button until you get a name you like" />
		<input type="text" style="display: none" aria-hidden="true" id="check" value="" />
		<div role="alert">
			{{> errors}}
		</div>
		<button type="submit">Share your story!</button>
	</form>
</template>

<template name="thanks">
	<h1>Thanks!</h1>
	<p>Thank you for posting a story to inspire people. We'll just check it then publish it in the app. Do you have <a href="/add">another story</a> to tell?</p>
</template>

<template name="manage">
	<div class="manager-list">
		{{> storiesList}}
	</div>
</template>

<template name="manageItem">
	<form>
		<label for="name">Name</label>
		<input id="name" type="text" value="{{story.name}}" />
		<label for="story">Story</label>
		<textarea id="story">{{story.story}}</textarea>
		<label for="theme">Theme</label>
		<select id="theme">
			<option disabled selected>Please choose</option>
			{{#each themes}}
				<option value="{{this._id}}" {{selected ..}}>{{this.themeName}}</option>
			{{/each}}
		</select>
		<div class="keywords">
			{{#each keywords selectedTheme}}
				<label for="keyword_{{ this }}">
					<input type="checkbox" id="keyword_{{ this }}" value="{{this}}" {{hasThemeKeyword .. selectedTheme}}>
					{{this}}
				</label>
			{{/each}}
		</div>

		<label><input type="checkbox" id="published" value="true" {{checked}}> Published</label>
		<input type="text" style="display: none" aria-hidden="true" id="check" value="" />
		<div role="alert">
			{{> errors}}
		</div>
		<button type="submit">Save</button>
	</form>
</template>

<template name="edited">
	<h1>Story saved</h1>
	<p>The story has been saved. Return to <a href="{{ pathFor 'manage' }}">the manager screen</a>.</p>
</template>

<template name="me">
	<h1>Inspiring Me</h1>
	{{ > message }}
	<ul>
		{{#each stories}}
			<li><a href="{{ pathFor 'story' }}">{{this.name}}'s Story</a> <a href="/deleteLocal/{{ this._id }}/{{this.name}}">delete</a></li>
		{{/each}}
	</ul>
</template>

<template name="deleteLocal">
	<h1>Delete story</h1>
	<p>Are you sure you want to delete {{this.name}}'s story from your <strong>Inspiring Me</strong> collection?</p>
	<p><button class="delete">Confirm</button> <button class="cancel">Cancel</button></p>
</template>

<template name="keyword">
	<h1>{{keyword}}</h1>
	{{> storiesList}}
</template>

<template name="theme">
	<h1>{{name}}</h1>
	{{#if empty}}
		<p class="message">There are no stories for this theme so far :-(</p>
	{{else}}
		{{> storiesList}}
	{{/if}}
</template>

<template name="themes">
	<h1>Find an inspiring story&hellip;</h1>
	<ul class="theme-list">
		{{#each themes}}
			<li>
				<h2>Stories about <a href="{{ pathFor 'theme' }}">{{this.themeName}} <span aria-hidden>&#x2192;</span></a></h2>
				<p>{{this.description}}</p>
			</li>
		{{/each}}
	</ul>
</template>

<template name="loginForm">
	<form action="action" id="login">
		<label for="email">Email</label>
        <input type="email" id="email" />
        <label for="password">Password</label>
        <input type="password" id="password" />
        <button type="submit">Log in</button>
        <p><a href="{{pathFor 'register'}}">Need an account?</a></p>
   </form> 
</template>

<template name="login">
	<h1>Log in</h1>
	{{> loginForm}}
</template>

<template name="registerForm">
	<form action="action" id="register">
		<label for="email">Email</label>
        <input type="email" id="email" />
        <label for="password">Password</label>
        <input type="password" id="password" />
        <button type="submit">Register</button>
   </form> 
</template>

<template name="register">
	<h1>Make an account</h1>
	{{> registerForm}}
</template>