<template name="glossary">
	<h1>Glossary</h1>
	<p>Explanations for some of the words and phrases in the <i>Inspire Me</i> that you may not have heard before.</p>
	<dl class="glossary-list">
		{{#each terms}}
			<dt>{{term}}</dt>
			<dd>{{#markdown}}{{definition}}{{/markdown}}</dd>
		{{/each}}
	</dl>
</template>

<template name="manageGlossary">
	<h1>Manage glossary</h1>
	{{> message}}
	<p class="center"><a class="button-shaped" href="/manageglossaryterm">Add New Term</a></p>
	<dl class="glossary-list">
		{{#each terms}}
			<dt>{{term}} (<a href="{{pathFor 'manageGlossaryTerm'}}">edit</a>) (<a href="{{pathFor 'deleteGlossaryTerm'}}">delete</a>)</dt>
			<dd>{{#markdown}}{{definition}}{{/markdown}}</dd>
		{{/each}}
	</dl>
</template>

<template name="manageGlossaryTerm">
	<h1>{{#if term}}&#x201c;{{term}}&#x201d;{{else}}New term{{/if}}</h1>
	<form>
		<label for="term">Term</label>
		<input id="term" type="text" name="term" value="{{term}}" />
		<label for="definition">Definition</label>
		<textarea id="definition" name="definition">{{definition}}</textarea>
		<button type="submit">{{#if _id}}Save{{else}}Add{{/if}}</button>
	</form>
</template>

<template name="deleteGlossaryTerm">
	<h1>Delete {{#if term}}&#x201c;{{term}}&#x201d;{{/if}}?</h1>
	<div class="center">
		<button class="delete">Delete</button> 
		<button class="cancel">Cancel</button>
	</div>
</template>