<template name="manageAlerts">
	{{> message}}
	<h1>Tutorial boxes</h1>
	<p>These tutorial boxes are used to introduce users to the app. Tutorial boxes appear at the top of pages and can be dismissed by pressing the &#x201c;x&#x201d; button. <strong>Note:</strong> They will not appear if you are logged in!</p>
	<p><a class="button-shaped" href="{{pathFor 'manageAlert' _id=''}}">Add new tutorial box</a></p>
	<ul class="alerts-list">
		{{#each alerts}}
			<li>
				<h2>
					{{untitled}}{{title}} (<a href="{{ pathFor 'manageAlert' }}">edit</a>)
				</h2>
			</li>
		{{/each}}
	</ul>
</template>

<template name="manageAlert">
	<h1>Manage tutorial box: {{title}}</h1>
	<form name="manageAlert" tabindex="-1">
		<div>
			<label for="title">Title (for your reference only):</label>
			<input id="title" name="title" value="{{title}}" type="text" />
		</div>
		<div>
			<label for="content">Content (markdown)</label>
			<textarea id="content" name="content">{{content}}</textarea>
		</div>
		<div>
			<label for="ok-button">Ok button text</label>
			<input id="ok-button" name="okButton" value="{{okButton}}" type="text" />
		</div>
		<div class="paths">
			<label>Display on paths</label>
			{{#each availablePaths}}
				<label for="show-on-path-{{safePath}}" class="alert-path">
					<input name="paths" id="show-on-path-{{safePath}}" type="checkbox" value="{{originalPath}}" {{pathSelected ..}} class="vh" />
					<span>{{name}} - {{originalPath}}</span>
				</label>
			{{/each}}
		</div>
		<button type="submit">Save</button>
	</form>
</template>
