/*
Turquoise -> #007FA3
Purple -> #5F2167
Blue -> #003594
Green -> #088F0E
*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
	box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}

a img {
  border: 0;
}

footer a:focus img:only-child {
  outline: 2px solid #fff;
  outline-offset: 0.5em;
}

body {
	font-size: 20px;
	font-family: Muli, sans-serif;
	color: #111;
}

body * + * {
	margin-top: 1.5em;
}

li + li {
	margin-top: 0;
}

p {
	line-height: 1.5;
}

a {
	color: #5F2167;
	text-decoration: none;
	border-bottom: 1px solid;
}

a:hover, a:focus {
	border-bottom-width: 2px;
}

[tabindex="-1"] {
  outline: none;
}

[href^="tel:"] {
	background: #5F2167;
	color: #fff;
	border-radius: 2em;
	border: 0;
	padding: 0 0.5em;
}

[href^="tel:"]:hover, [href^="tel:"]:focus {
	background: #111;
}

footer a {
	border: 0;
}

img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4 {
	font-family: Lato, sans-serif;
	font-weight: 900;
  line-height: 1.125;
}

main ul {
	margin-left: 1.5em;
}

dt {
  font-size: 1.5em;
  font-weight: bold;
}

dt a {
  font-weight: normal;
}

* + dl {
  margin-top: 3em;
}

dd {
  margin-top: 0;
}

dd + dt {
  margin-top: 0.75em;
  padding-top: 0.75em;
  border-top: 2px solid #ccc;
}

/* NAVIGATION BLOCKS
------------------------------------------------------ */

[aria-label="main menu"] {
	margin-top: 0;
}

[aria-label="main menu"] li {
	line-height: 1.5;
}

[aria-label="main menu"] ul, [role="banner"] ul {
	display: table;
	table-layout: fixed;
	width: 100%;
}

[aria-label="main menu"] li, [role="banner"] li {
	display: table-cell;
	vertical-align: top;
}

[aria-label="main menu"] a {
	display: block;
	background: #5F2167;
	color: #fff;
	padding: 0.5em;
	text-align: center;
	font-family: Lato, sans-serif;
	font-weight: 900;
	font-size: 1.125em;
	border: 0;
}

[aria-label="main menu"] a:hover, [aria-label="main menu"] a:focus {
	background: #111;
	outline: none;
}

span[aria-hidden] {
	line-height: 0;
}

/* banner links */

[role="banner"] {
	background: #007FA3;
}

[role="banner"] a {
	font-family: Lato, sans-serif;
	font-weight: 900;
	color: #fff;
	display: inline-block;
	font-size: 2.33em;
	border: 0;
}

[aria-haspopup="true"] + [aria-hidden="true"] {
	display: none;
}

[aria-haspopup="true"] + [aria-hidden="false"] {
	display: block;
}

[aria-label^="info"] {
	text-align: center;
	font-size: 2.5em;
	width: 1.25em;
	height: 1.25em;
	border-radius: 100%;
	line-height: 1.125;
	position: relative;
	margin-right: 1em;
	border: 2px solid #fff !important;
}

[aria-label^="info"]:focus {
	border-color: #111;
}

[aria-label^="info"]:hover {
	outline:none;
	background: #111;
	border-color: #111 !important;
}

[role="banner"] .info {
	text-align: right;
	position: relative;
  height: 100%;
}

[role="banner"] li {
	vertical-align: middle;
	line-height: 1;
}

[aria-label="submenu"] {
	position: absolute;
  margin-top: 0;
	top: 5em;
	right: 2em;
	max-width: 70%;
}

[aria-label="submenu"] li {
	line-height: 1.5;
}

[aria-label="inspire me home"] img {
	display: block;
	max-height: 150px;
	max-width: 515px;
	width: 100%;
	position: relative;
}

[aria-label="submenu"] li {
	display: block;
	background: #111;
}

[aria-label="submenu"] li + li {
	border-top: 2px solid #fff;
}

[aria-label="submenu"] a {
	font-size: 20px;
	font-size: 1rem;
	display: block;
	margin: 0;
	padding: 0.5em;
}

[aria-label="submenu"] a:hover, 
[aria-label="submenu"] a:focus {
	background: #5F2167;
}

a[href="/random"] {
	border: 4px solid #111;
	border-top: 0;
}

a[href="/random"] img {
	height: 2em;
	vertical-align: middle;
	margin-right: 0.5em;
}

nav a[href="/add"] {
	border-right: 15px solid #55175d;
}

nav a[href="/me"] {
	border-left: 15px solid #55175d;
}

nav a[href="/add"]:hover, nav a[href="/add"]:focus, 
nav a[href="/me"]:hover, nav a[href="/me"]:focus {
	border-color: #111;
}

li.home {
	line-height: 0;
}

/**************************************************************

GRIDS
Here, we generate flexible and self-correcting grids based on a 
list of column variants

Example markup (a three column grid):

<div class="grid-3-columns">
  <div></div>
  <div></div>
  <div></div>
  <div></div> <!-- will be corrected to fill space -->
</div>

***************************************************************/

[class^="grid-"] {
  margin-top: 37.5px;
  margin-top: 1.5rem;
  font-size: 0;
  /* just has to be a big, px based number */
}

[class^="grid-"] > * {
  font-size: 25px;
  font-size: 1rem;
  text-align: left;
  display: inline-block;
  margin-top: 0;
  vertical-align: top;
  padding: 0 0.75em;
}
[class^="grid-"] > *:last-child {
  padding-right: 0;
}

.grid-2-columns > * {
  width: 50%;
}

.grid-2-columns > *:nth-child(2n + 1):nth-last-child(1) {
  width: 100%;
}
.grid-2-columns > *:nth-child(2n + 1):nth-last-child(1) ~ * {
  width: 100%;
}

.grid-2-columns > *:nth-child(2n + 1):nth-last-child(2) {
  width: 50%;
}
.grid-2-columns > *:nth-child(2n + 1):nth-last-child(2) ~ * {
  width: 50%;
}

.grid-2-columns > *:nth-child(2n + 1) {
  padding-left: 0;
}

.grid-2-columns > *:nth-child(2n + 2) {
  padding-right: 0;
}

.grid-2-columns > *:nth-child(2n + 2) ~ * {
  margin-top: 3em;
}

.grid-3-columns > * {
  width: 33.33333%;
}

.grid-3-columns > *:nth-child(3n + 1):nth-last-child(1) {
  width: 100%;
}
.grid-3-columns > *:nth-child(3n + 1):nth-last-child(1) ~ * {
  width: 100%;
}

.grid-3-columns > *:nth-child(3n + 1):nth-last-child(2) {
  width: 50%;
}
.grid-3-columns > *:nth-child(3n + 1):nth-last-child(2) ~ * {
  width: 50%;
}

.grid-3-columns > *:nth-child(3n + 1):nth-last-child(3) {
  width: 33.33333%;
}
.grid-3-columns > *:nth-child(3n + 1):nth-last-child(3) ~ * {
  width: 33.33333%;
}

.grid-3-columns > *:nth-child(3n + 1) {
  padding-left: 0;
}

.grid-3-columns > *:nth-child(3n + 3) {
  padding-right: 0;
}

.grid-3-columns > *:nth-child(3n + 3) ~ * {
  margin-top: 3em;
}

[class^="grid-"]:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
}

.middle > * {
  vertical-align: middle;
}

/**************************************************************

BUTTONS

***************************************************************/

button, .button-shaped {
  display: inline-block;
  background: #5F2167;
  padding: 0.5em 1em;
  color: #fff;
  font-weight: 700;
  font-size: 1.25em;
  border: 0;
  cursor: pointer;
}

button:hover, 
button:focus,
.button-shaped:hover,
.button-shaped:focus {
  background: #111;
}

/**************************************************************

ANIMATIONS

***************************************************************/

@-webkit-keyframes wibble {
  0%   { transform: rotate(2deg); }
  50%  { transform: rotate(-2deg); }
  100% { transform: rotate(0); }
}
@-moz-keyframes wibble {
  0%   { transform: rotate(2deg); }
  50%  { transform: rotate(-2deg); }
  100% { transform: rotate(0); }
}
@-o-keyframes wibble {
  0%   { transform: rotate(2deg); }
  50%  { transform: rotate(-2deg); }
  100% { transform: rotate(0); }
}
@keyframes wibble {
  0%   { transform: rotate(2deg); }
  50%  { transform: rotate(-2deg); }
  100% { transform: rotate(0); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.loaded {
  -webkit-animation: wibble 0.25s 2; /* Safari 4+ */
  -moz-animation:    wibble 0.25s 2; /* Fx 5+ */
  -o-animation:      wibble 0.25s 2; /* Opera 12+ */
  animation:         wibble 0.25s 2;
}

[href="/random"]:active img {
	-webkit-animation: spin 0.25s 2;
	animation: spin 0.33s 2;
}


/**************************************************************

FORMS
Basic form styling

***************************************************************/

form, .next-steps, .more-inspiration {
  padding: 1.5em;
  padding-bottom: 1.75em;
  background: #C3B9D6;
}

form + .next-steps, .more-inspiration {
	margin-top: 0;
	border-top: 2px dashed #fff;
}

form:before {
  content: '\25b2';
  text-align: center;
  display: block;
  font-size: 2em;
  position: relative;
  text-align: center;
  top: -1.8em;
  height: 0;
  color: #C3B9D6;
}

input, textarea, select {
  padding: 0.25em;
  display: block;
  width: 100%;
  border: 3px solid #111;
  border-radius: 0.125em;
  background: #fff;
}

input:focus, textarea:focus, select:focus {
  border-width: 4px;
}

input, textarea {
  box-shadow: inset 0.2em 0.2em 0 #ddd;
}

select {
  box-shadow: 0 0.33em 1em 0 #ddd inset,  0 0 0.25em 0.25em #ddd inset;
}

input, select {
  height: 2em;
  line-height: 2em;
}

textarea {
  resize: none;
}

label {
  display: block;
  font-weight: bold;
}

label + * {
  margin-top: 0.25em;
}

option {
  margin-top: 0;
}

label > * {
  display: inline-block;
  width: auto;
  height: auto;
  margin-top: 0;
  cursor: pointer;
}

* + [type="submit"] {
  margin-top: 1.5em;
}

[role="tooltip"] {
  background: #d4ff2a;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  margin-top: 0.5em;
}

[role="tooltip"] + * {
  margin-top: 0.75em;
}

*:focus + [role="tooltip"] {
  background: #d4ff2a;
  padding: 0.75em;
  max-height: 1000px;
  overflow: hidden;
}

fieldset {
  padding: 1em;
  border: 1px solid #111;
}

legend + * {
  margin-top: 0;
}

[type="checkbox"][disabled] + span:before {
  box-shadow: 0 0 0 2px #888;
} 

[for="help"] {
  margin-top: 2.25em;
}

form h2 + p, form label + p {
  margin-top: 0;
}

label + h2 {
  margin-top: 1.5em;
}

/**************************************************************

THEMABLE RADIO BUTTON PATTERN

Markup:

<label>
  <input type="radio" value="[value]" class="vh" /> <span>[label text]</span>
</label>

***************************************************************/

label [type="radio"] + span {
  display: block;
  cursor: pointer;
}

label [type="radio"] + span:hover {
  text-decoration: underline;
}

label [type="radio"] + span:before {
  content: '';
  background: #fff;
  border: 0.25em solid #fff;
  border-radius: 20px;
  box-shadow: 0 0 0 0.25em #111;
  display: inline-block;
  height: 0.9em;
  vertical-align: -0.125em;
  width: 0.9em;
}

label [type="radio"] + span:before {
  content: '';
  background: #fff;
  border: 0.25em solid #fff;
  border-radius: 20px;
  box-shadow: 0 0 0 0.25em #111;
  display: inline-block;
  margin-right: 0.5em;
  width: 0.66em;
  height: 0.66em;
  vertical-align: -0.125em;
}

label [type="radio"]:checked + span:before {
  background: #459F51;
  box-shadow: 0 0 0 0.25em #111;
}

label [type="radio"]:focus + span:before {
  outline: 1px dotted #111;
  outline-offset: 0.25em;
}

label + label {
	margin-top: 0.5em;
}

/**************************************************************

THEMABLE CHECKBOX PATTERN

Markup:

<label>
  <input type="checkbox" value="[value]" class="vh" /> <span>[label text]</span>
</label>

***************************************************************/

label [type="checkbox"] + span {
  display: block;
  cursor: pointer;
}

label [type="checkbox"] + span:hover {
  color: #480;
}

label [type="checkbox"] + span:before {
  content: '';
  background: #fff;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.125em #111, inset 5px 5px 0 #ddd;
  display: inline-block;
  height: 0.9em;
  vertical-align: -0.125em;
  width: 0.9em;
}

label [type="checkbox"] + span:before {
  content: '';
  background: #fff;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.125em #111;
  display: inline-block;
  margin-right: 0.5em;
  width: 0.66em;
  height: 0.66em;
  vertical-align: -0.125em;
}

label [type="checkbox"]:checked + span:before {
  content: '\2714';
  line-height: 0.9;
  box-shadow: 0 0 0 0.125em #480;
}

label [type="checkbox"]:focus + span:before {
  outline: 1px dotted #111;
  outline-offset: 0.25em;
}

/** Sorry Heydon, pls make betterer */
label [type="checkbox"][disabled] + span,
label [type="checkbox"][disabled] + span:hover,
label [type="checkbox"][disabled] + span:before {
  cursor: default;
  color: #8B8B8B;
}

label [type="checkbox"][disabled] + span:before {
  background-color: #BEBEBE;
  border-color: #BEBEBE;
}

/* MAIN
------------------------------------------------------ */

main > div {
	max-width: 900px;
	margin: 0 auto;
	padding: 1.5em;
}

/* FOOTER
------------------------------------------------------ */
[role="contentinfo"] {
	background: #003594;
	margin-top: 2.25em;
	padding: 3em;
	text-align: center;
}

/* HEADINGS
------------------------------------------------------ */

h1 {
	text-align: center;
}

h1 { font-size: 3em; }
h2 { font-size: 2.25em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1em; }

/* STORIES
------------------------------------------------------- */

.story-body {
	background: #b9e8f5;
	padding: 1.5em;
	padding-left: 3em;
	background-image: url(/line.png), url(/hole.png);
	background-size: auto 1.5em, auto 2em;
	background-repeat: repeat, repeat-y;
}

/* UTILITIES
------------------------------------------------------- */

.vh {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.vh + * {
  margin-top: 0;
}

.center {
  text-align: center;
}

/**************************************************************

ARCHIVE PAGES

***************************************************************/

.truncated {
  line-height: 1.5em;
}

.meta {
  font-size: 1.25em;
  text-align: center;
  margin-top: 0;
}

.inline-list-separator:last-child {
  display: none;
}

.keywords, .pathwayThemes {
  margin-left: 0;
  margin-top: 30px;
  margin-top: 1.5rem;
}

.keywords li, .pathwayThemes li {
  font-size: 20px;
  font-size: 1rem;
  display: inline-block;
  margin: 0 0.25em 0.25em 0;
}

.keywords a, .pathwayThemes a {
  font-weight: 900;
  background: #5F2167;
  color: #fff;
  padding: 0.25em 0.5em;
  display: block;
  border: 0;
} 

.keywords a:hover, .keywords a:focus, 
.pathwayThemes a:hover, .pathwayThemes a:focus {
  background: #111;
}

.pathwayThemes a {
  font-size: 1.5em;
}

.theme-list {
  margin-left: 0;
}

.theme-list a:not(:hover) {
  border: 0;
}

.theme-list > li {
  list-style: none;
  background: #B9DFE9;
  padding: 1.5em;
}

.theme-list > li + li {
  margin-top: 1.5em
}

.teaser h2 {
  text-align: center;
}

.teaser h2 a:not(:hover):not(:focus) {
  border: 0;
}

.teaser .keywords {
  text-align: center;
}

.add-your-story {
  height: 12em;
  width: 100%;
  padding: 1.5em;
  border: 2px dashed #ccc;
  border-radius: 0.25em;
  display: table;
}

.add-your-story div {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

/**************************************************************

MESSAGES

***************************************************************/

[role="alert"] ul {
  padding: 1.5em;
  margin: 0;
}

[role="alert"] {
  background: #EF1D4D;
  color: #fff;
}

[role="alert"] li, [role="status"] li {
  list-style: none;
}

.message {
  background: #459F51;
  padding: 1.5em;
  color: #fff;
}

.message a {
  color: #fff;
}

.alert-bubble {
  font-size: 0.9em;
  background: #FEFFBF;
  padding: 1.5em;
  padding-right: 3em;
  position: relative;
  font-style: italic;
}

[aria-label="close"] {
  padding: 0;
  background: transparent;
  color: #111;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  margin: 0;
  font-style: normal;
}

[aria-label="close"]:hover, 
[aria-label="close"]:focus {
  background: transparent;
  color: #459F51;
}

/* ADMIN BAR
------------------------------------------------------- */

.admin {
  background: #111;
  text-align: center;
}

.admin + * {
  margin-top: 0;
}

.admin li {
  display: inline-block;
  padding: 0.5em;
}

.admin a {
  color: #fff;
}

.admin a:not(:hover) {
  border: 0;
}

.admin button {
  font-size: 1em;
  padding: 0.25em 0.5em;
}

.admin button:hover, .admin button:focus {
  background: #fff;
  color: #111;
}

/* INSPIRING ME
------------------------------------------------------- */

.inspiring-me-themes h3 + * {
  margin-top: 0.75em;
}

.inspiring-me-stories {
  margin: 0;
  margin-top: 0.75em;
  border: 2px solid #007FA3;
}

.inspiring-me-stories li {
  padding: 0;
  position: relative;
  font-size: 1.5em;
  list-style: none;
  padding-right: 1.5em;
  padding: 0.25em;
}

.inspiring-me-stories li + li {
  border-top: 2px solid #007FA3;
}

.inspiring-me-stories li div {
  display: inline-block;
  margin: 0;
}

.inspiring-me-stories [aria-label^="delete"] {
  position: absolute;
  right: 0.25em;
  margin-top: 0.25em;
}

.alerts-list {
  margin-left: 0;
}

.alerts-list > li {
  list-style: none;
}

.alerts-list > li + li {
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top: 2px solid #ccc;
}

/* BREAK POINTS
------------------------------------------------------- */

@media all and (max-width: 950px) {

  [aria-label="submenu"] {
    top: 70%;
  }

}

@media all and (max-width: 700px) {
  
  .teaser {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
  }

  .teaser + .teaser {
    margin-top: 2.25em;
  }

  .add-your-story {
    height: auto;
  }

}

@media all and (max-width: 600px) {

	body {
		font-size: 16px;
	}

}

@media all and (max-width: 450px) {

	[aria-label="main menu"] li {
		display: block;
	}

	[aria-label="main menu"] a {
		border: 0;
	}

  nav a[href="/me"] {
    border-left: 0;
  }

  nav a[href="/add"] {
    border-right: 0;
  }

  nav a[href="/me"] {
    border-left: 0;
  }

	[aria-label="main menu"] li + li a {
		border-top: 2px solid #111;
	}

	[aria-label="submenu"] {
		max-width: none;
	}

	main > div {
		padding-left: 0.75em;
		padding-right: 0.75em;
	}

	h1 { font-size: 2.5em; }
	h2 { font-size: 2.125em; }
	h3 { font-size: 1.25em; }
	h4 { font-size: 1em; }

  #add .middle > * {
    display: block;
    width: 100%;
    padding: 0;
  }
  
  #add .middle button {
    margin-top: 0.75em
  }

}

